:root{
  --primary-color: #495E57;
  --secondary-color: #F4CE14;
  --accent-color: #EE9972;
  --background-color: #EDEFEE;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

h1{
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
}


button{
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 0.9rem;
}