header {
  display: flex;
  flex-direction: row;
  padding: 5px 40px 5px 40px;
  font-weight: bold;
  align-items: center;
}

#logo{
  flex: 0.2;
  width: 100px;
  height: auto;
}

nav{
  flex: 0.8;
  padding: 0 15px 0 15px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  vertical-align: middle;
}